<template>
  <section>

    <h3 id="nginxbuilds">You can download my nginx builds (64bit only) here:</h3>

    <table>
      <tr>
        <th>Version</th>
        <th>Modules</th>
        <th>OS</th>
        <th>Download Link</th>
      </tr>
      <tr>
        <td>nginx 1.15.9</td>
        <td>brotli + TLS 1.3 (openssl 1.1.1)</td>
        <td>Ubuntu 18.04 (.deb)</td>
        <td><a href="https://sigfriedsbuilds.b-cdn.net/nginx/1.15.9/nginx_1.15.9-1~bionic_amd64.deb">click here</a></td>
      </tr>
      <tr>
        <td>nginx 1.15.9</td>
        <td>nginx-vod-module + brotli + TLS 1.3 (openssl 1.1.1)</td>
        <td>Ubuntu 18.04 (.deb)</td>
        <td><a href="https://sigfriedsbuilds.b-cdn.net/nginx-vod/1.15.9/nginx_1.15.9-1~bionic_amd64.deb">click here</a></td>
      </tr>
      <tr>
        <td>nginx 1.15.8</td>
        <td>nginx-vod-module + brotli, TLS 1.3 (openssl 1.1.1)</td>
        <td>Ubuntu 18.04 (.deb)</td>
        <td><a href="https://sigfriedsbuilds.b-cdn.net/nginx-vod/1.15.8/nginx_1.15.8-1~bionic_amd64.deb">click here</a></td>
      </tr>
    </table>
  </section>
</template>
