<template>
  <section>

    <h3>You can download my Ungoogled Chromium builds here:</h3>

    <table>
      <tr>
        <th>Version</th>
        <th>OS</th>
        <th>Download Link</th>
      </tr>
      <tr>
        <td>Chromium 72</td>
        <td>Ubuntu 18.04 (.deb)</td>
        <td><a href="">click here</a></td>
      </tr>
    </table>

    <p>
      Do you want to build it for yourself?
      Check it out at <a href="https://github.com/Eloston/ungoogled-chromium" rel="noopener noreferrer">https://github.com/Eloston/ungoogled-chromium</a>
    </p>
  </section>
</template>
