<template>
  <main>
    <h1>Hello, <small>I'm Sigfried</small></h1>

    <p>
      I build stuff and care about privacy. This website isn't finished yet. I just build it very fast to put my Ungoogled Chromium builds on. Have a look at it below.
      <br />I also provide a <b>log free</b> Searx instance. Available at <a href="https://searx.dojocasts.com" rel="noopener noreferrer">https://searx.dojocasts.com</a>
    </p>

    <nginx />
  </main>
</template>

<script>
import nginx from '~/components/nginx.vue'
import ungoogledchromium from '~/components/ungoogledchromium.vue'

export default {
  components: {
    nginx
  }
}
</script>

<style>
* {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  margin: 0 0 1rem;
}

main {
  max-width: 900px;
  margin: 7em auto 0 auto;
}

section {
  margin-top: 2em;
}

table {
  margin-top: .7em;
  border: 2px solid #eee;
  border-bottom: 0;
}

table > tr > th, td {
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding: .5rem;
}

table > tr > th:last-child, td:last-child {
  border-right: 0;
}
</style>
